@function cal($num){
	@return $num/40;
}
*{
	letter-spacing:cal(2rem);
}
#top{
	height:cal(70rem);
	width:100%;
	background:#1f1e22;
	position:fixed;
	left:0;
	top:0;
}
.top-left{
	height:100%;
	width:cal(120rem);
	float:left;
}
.top-left a{
	font-size:cal(40rem);
	color:#eaeaea;
	margin-left:cal(17rem);
	margin-top:cal(12rem);
	font-style:normal;
	font-weight:900;
	font-family:'iconfont';
	float:left;
}
.top-left span{
	font-size:cal(28rem);
	color:#eaeaea;
	margin-top:cal(16rem);
	float:left;
}
.top-middle{
	width:cal(100rem);
	font-size:cal(30rem);
	color:#fff;
	padding-top:cal(16rem);
	margin-left:cal(223rem);
	letter-spacing:cal(2rem);
	float:left;
}
.top-right{
	width:cal(40rem);
	font-size:cal(38rem);
	color:#eaeaea;
	float:right;
	padding-top:cal(18rem);
	margin-right:cal(25rem);
	font-family:'iconfont';
	font-weight:900;
}
.content{
	height:100%;
	width:100%;
	background:#f5f5f5;
	padding-top:cal(70rem);
	padding-bottom:cal(264rem);
}
.ming{
	height:cal(85rem);
	width:100%;
	background:#fff;
	text-align:center;
	font-size:cal(28rem);
	color:#626262;
	line-height:cal(85rem);
}
.time{
	width:100%;
	font-size:cal(20rem);
	padding-top:cal(40rem);
	color:#bababa;
	text-align:center;
}
.talkone{
	height:auto;
	width:100%;
	margin-top:cal(40rem);
	float:right;
}
.talkone .blue{
	padding:cal(18rem);
	height:auto;
	width:auto;
	font-size:cal(28rem);
	color:#1b1b1f;
	float:right;
	margin-right:cal(4rem);
	text-align:center;
	background:url(../img/talkone.png) no-repeat;
	background-size:100% 100%;
}
.talkone img{
	width:cal(72rem);
	margin-right:cal(28rem);
	float:right;
}
.doctorone{
	height:auto;
	width:100%;
	margin-top:cal(40rem);
	float:left;
}
.doctorone .white{
	padding:cal(18rem);
	height:auto;
	width:auto;
	font-size:cal(28rem);
	color:#1b1b1f;
	float:left;
	margin-left:cal(4rem);
	padding-left:cal(20rem);
	background:url(../img/doctorone.png) no-repeat;
	background-size:100% 100%;
}
.doctorone img{
	width:cal(72rem);
	border-radius:50%;
	margin-left:cal(28rem);
	float:left;
}
.talktow{
	height:auto;
	width:100%;
	margin-top:cal(40rem);
	float:right;
}
.talktow .blue{
	padding:cal(18rem);
	height:auto;
	width:auto;
	font-size:cal(28rem);
	color:#1b1b1f;
	float:right;
	margin-right:cal(4rem);
	text-align:center;
	background:url(../img/talktow.png) no-repeat;
	background-size:100% 100%;
}
.talktow img{
	width:cal(72rem);
	margin-right:cal(28rem);
	float:right;
}
.doctortow{
	height:auto;
	width:100%;
	margin-top:cal(40rem);
	float:left;
}
.doctortow h5,.doctorone h5{
	font-size:cal(22rem);
	color:#8d8d8d;
	font-weight:400;
	clear:both;
	margin-left:cal(34rem);
	padding-top:cal(6rem);
}
.doctortow .white{
	padding:cal(18rem);
	height:auto;
	width:auto;
	font-size:cal(28rem);
	color:#1b1b1f;
	float:left;
	margin-left:cal(4rem);
	padding-left:cal(20rem);
	background:url(../img/doctortow.png) no-repeat;
	background-size:100% 100%;
}
.doctortow img{
	width:cal(72rem);
	border-radius:50%;
	margin-left:cal(28rem);
	float:left;
}
.newtime{
	width:100%;
	font-size:cal(20rem);
	padding-top:cal(40rem);
	color:#bababa;
	float:left;
	text-align:center;
}
.talkthree{
	height:auto;
	width:100%;
	margin-top:cal(40rem);
	float:right;
}
.talkthree .blue{
	padding:cal(18rem);
	height:auto;
	width:auto;
	font-size:cal(28rem);
	color:#1b1b1f;
	float:right;
	margin-right:cal(4rem);
	text-align:center;
	background:url(../img/talkthree.png) no-repeat;
	background-size:100% 100%;
}
.talkthree img{
	width:cal(72rem);
	margin-right:cal(28rem);
	float:right;
}
.bottom{
	height:cal(132rem);
	width:100%;
	background:#fff;
	font-family:'iconfont';
	position:fixed;
	left:0;
	bottom:0;
}
.bottom i{
	font-size:cal(40rem);
	color:#b8b5b5;
	margin-left:cal(20rem);
	margin-top:cal(46rem);
	font-style:normal;
	float:left;
}
.bottom input{
	height:cal(82rem);
	width:cal(478rem);
	color:#1b1b1f;
	background:#f5f5f5;
	border:1px solid #dcdcdc;
	outline:none;
	margin-left:cal(17rem);
	margin-top:cal(25rem);
	border-radius:cal(7rem);
	font-size:cal(28rem);
}
.buttom a{
	font-size:cal(40rem);
	color:#b8b5b5;
	margin-left:cal(18rem);
	margin-top:cal(46rem);
	float:left;
}
.bottom button{
	height:cal(82rem);
	width:cal(95rem);
	background:#569ee3;
	color:#fff;
	font-size:cal(32rem);
	line-height:cal(82rem);
	border-radius:cal(7rem);
	border:1px solid #dcdcdc;
	letter-spacing:cal(2rem);
	padding:0;
	text-align:center;
}